{% extends 'base.html' %}
{% block content %}

<h1>Customer Record</h1><hr>

<div class="card" style="width: 38rem;">
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><p class="card-text">
        <strong>ID: </strong>{{ customer_record.id }}</p></li>
      <li class="list-group-item"><p class="card-text"><strong>Name: </strong>
        {{ customer_record.first_name }} {{ customer_record.last_name }}</p></li>
      <li class="list-group-item"><p class="card-text">
        <strong>Email: </strong>{{ customer_record.email }}</p>
        </li>
      <li class="list-group-item"><p class="card-text">
        <strong>Phone: </strong>{{ customer_record.phone }}
        </p></li>
      <li class="list-group-item"><p class="card-text">
        <strong>Address: </strong>{{ customer_record.address }}</p>
        </li>
      <li class="list-group-item"><p class="card-text">
        <strong>City: </strong>{{ customer_record.city }}</p>
        </li>
      <li class="list-group-item"><p class="card-text">
        <strong>State: </strong>{{ customer_record.state }}</p>
        </li>
      <li class="list-group-item"><p class="card-text">
        <strong>Zipcode: </strong>{{ customer_record.zipcode }}</p></li>
      <li class="list-group-item"><p class="card-text">
        <strong>Create At: </strong>{{ customer_record.created_at }}</p>
        </div></li>
    </ul><br>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Back</a>
    <a href="{% url 'delete' customer_record.id %}" class="btn btn-outline-danger">Delete</a>
    <a href="{% url 'update' customer_record.id %}" class="btn btn-outline-success">Update</a>
</div>

{% comment %} <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a> {% endcomment %}

{% endblock %}